{% set fragmentValue = '' %}
{% set fragmentButtonValue = '' %}
{% set buttonValue = '' %}
{% set menu_items = [] %}
{% if app.request.query.get('fragment') == 'part' %}
    {% set fragmentValue = 'part' %}
    {% set fragmentButtonValue = 'pro' %}
    {% set buttonValue = 'Vers les pros' %}
{% elseif app.request.query.get('fragment') == 'pro' %}
    {% set fragmentValue = 'pro' %}
    {% set fragmentButtonValue = 'part' %}
    {% set buttonValue = 'Vers les particuliers' %}
{% endif %}

<header class="navbar">
    <button class="change-fragment-site btn fs-3 text-start fw-bold text-primary flex-grow-1" 
    data-fragment={{fragmentValue}} 
    data-subFragment="acceuil" 
    style="text-decoration: none;">
        Secrétaire Pro
    </button>

    <!-- Menu Grand Écran (visible uniquement sur les grands écrans) -->
    <div class="d-none justify-content-center  d-md-flex">
        <ul class="list-unstyled d-flex mb-0">
            {% if app.request.query.get('fragment') == 'part' %}
                {% set menu_items = [
                    { link: 'service', label: 'Services', route: 'secretariat', fragment: fragmentValue },
                    { link: 'tarifs', label: 'Tarifs', route: 'numeriques', fragment: fragmentValue },
                    { link: 'job', label: 'Jobs', route: 'jobs', fragment: fragmentValue },
                    { link: 'contact', label: 'Contact', route: 'contact', fragment: fragmentValue }
                ] %}
            {% elseif app.request.query.get('fragment') == 'pro' %}
                {% set menu_items = [
                    { link: 'service', label: 'Services', route: 'secretariat', fragment: fragmentValue },
                    { link: 'tarifs', label: 'Tarifs', route: 'numeriques', fragment: fragmentValue },
                    { link: 'contact', label: 'Contact', route: 'contact', fragment: fragmentValue }
                ] %}
            {% endif %}

            {% for item in menu_items %}
                <li class="me-4">
                    <button class="change-fragment-site btn fs-4 {% if app.request.query.get('subFragment') == item.link %} active {% endif %}" 
                            data-fragment="{{ item.fragment }}" 
                            data-subFragment="{{ item.link }}" 
                            style="text-decoration: none;">
                            {{ item.label }}
                    </button>
                </li>
            {% endfor %}

            <li class="me-4">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="navBarEspaceClient btn fs-4 {{ app.request.attributes.get('_route') == 'admin' ? 'text-primary' : 'text-dark' }}" style="text-decoration: none;">
                        {{ app.user.email }}
                    </a>
                {% elseif is_granted('ROLE_USER') %}
                    <a class="btn fs-4 {{ app.request.attributes.get('_route') == 'user' ? 'text-primary' : 'text-dark' }} navBarEspaceClient text-success" 
                    href="{{ path('user') }}" 
                    style="text-decoration: none;">
                        {{ app.user.email }}
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn fs-4 {{ app.request.attributes.get('_route') == 'app_login' ? 'text-primary' : 'text-dark' }}" style="text-decoration: none;">
                        Espace client
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>

    <!-- Menu Burger (visible uniquement sur petits écrans) -->
    <nav class="sidebar d-md-none navbar-expand-md fixed-top" id="navBurger">
        <div class="container-fluid">
            <button class="menu-toggle" id="menu-toggle"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                &#9776;
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex justify-content-center pt-4">
                    <button class="change-fragment-site btn fs-1 fw-bold text-warning nav-link" 
                    data-fragment={{fragmentValue}} 
                    data-subFragment="acceuil" 
                    style="text-decoration: none;">
                        Secrétaire Pro
                    </button>
                </div>
                
                <ul class="mb-3 d-flex flex-column align-items-center" style="padding-top: 1rem !important;">
                    {% if app.request.query.get('fragment') == 'part' %}
                        {% set menu_items = [
                            { link: 'service', label: 'Services', route: 'secretariat', fragment: fragmentValue },
                            { link: 'tarifs', label: 'Tarifs', route: 'numeriques', fragment: fragmentValue },
                            { link: 'job', label: 'Jobs', route: 'jobs', fragment: fragmentValue },
                            { link: 'contact', label: 'Contact', route: 'contact', fragment: fragmentValue }
                        ] %}
                    {% elseif app.request.query.get('fragment') == 'pro' %}
                        {% set menu_items = [
                            { link: 'service', label: 'Services', route: 'secretariat', fragment: fragmentValue },
                            { link: 'tarifs', label: 'Tarifs', route: 'numeriques', fragment: fragmentValue },
                            { link: 'contact', label: 'Contact', route: 'contact', fragment: fragmentValue }
                        ] %}
                    {% endif %}

                    {% for item in menu_items %}
                        <li class="text-center mb-2">
                            <button class="change-fragment-site nav-link fs-5 text-white" 
                            data-fragment="{{ item.fragment }}" 
                            data-subFragment="{{ item.link }}">
                                {{ item.label }}
                            </button>
                        </li>
                    {% endfor %}

                    <li class="text-center mb-2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="navBarEspaceClient text-success nav-link text-decoration-none" href="{{ path('admin') }}">
                                <h5>{{ app.user.email }}</h5>
                            </a>
                        {% elseif is_granted('ROLE_USER') %}
                            <a class="navBarEspaceClient text-success nav-link text-decoration-none" href="{{ path('user') }}">
                                <h5>{{ app.user.email }}</h5>
                            </a>
                        {% else %}
                            <h5><a href="{{ path('app_login') }}" class='nav-link'>
                                Espace client
                            </a></h5>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        
</header>
