{% set fragmentValue = '' %}
{% set fragmentButtonValue = '' %}
{% set buttonValue = '' %}
{% set titleAdministratif = '' %}
{% set titleNumerique = '' %}
{% set services = [] %}
{% if app.request.query.get('fragment') == 'part' %}
    {% set fragmentValue = 'part' %}
    {% set fragmentButtonValue = 'pro' %}
    {% set buttonValue = 'Vers les pros' %}
    {% set titleAdministratif = 'Gestion Administrative' %}
    {% set titleNumerique = 'Gestion Numérique' %}
{% elseif app.request.query.get('fragment') == 'pro' %}
    {% set fragmentValue = 'pro' %}
    {% set fragmentButtonValue = 'part' %}
    {% set buttonValue = 'Vers les particuliers' %}
    {% set titleAdministratif = 'Services Administratifs' %}
    {% set titleNumerique = 'Services de Développement Numérique' %}
{% endif %}
<section>
    <div class="background-secretariat">
        {% include 'partials/Page/_navBar.html.twig' %}

        <section class="hero d-flex justify-content-center flex-column flex-grow-1 position-relative">
            <div class="heroContent">
                <h1>Services</h1>
                <p>Détails des services proposés</p>
            </div>
            <div>
                <button type="button" class="change-fragment-site btn btn-warning fs-5 border border-secondary" data-fragment={{fragmentValue}} data-subFragment="contact" >
                    Contactez-nous
                </button>
            </div>
            <div class="position-absolute bottom-0 end-0 mb-3 me-3">
                <button type="button" class="change-fragment-site btn btn-primary fs-5" data-fragment={{fragmentButtonValue}} data-subFragment="acceuil">{{buttonValue}}</button>
            </div>
        </section>
    </div>

    <h1 class="services-title">Nos services</h1>
    <h2 class="services-subtitle">Le meilleur pour tous nos clients</h2>
    <section id="services" class="service-list d-flex flex-wrap justify-content-center">
        <div class="container mt-5">
            <div class="row d-flex flex-wrap justify-content-center">
                <!-- Service: Gestion administrative -->
                <div class="col-12 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">{{titleAdministratif}}</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-unstyled">
                                
                                {% if app.request.query.get('fragment') == 'part' %}
                                    {% set services = [
                                        { 'id': 'gestionAdmin1', 'title': 'Rédaction de courrier', 'description': 'Saisie et création de documents texte sous Word (relecture, corrections....)' },
                                        { 'id': 'gestionAdminCV', 'title': 'Rédaction et révision de lettres de motivation et CV', 'description': 'Aide à la rédaction ou l\'amélioration des lettres de motivation et CV pour les candidatures professionnelles.' },
                                        { 'id': 'gestionAdminFinances', 'title': 'Gestion des finances personnelles', 'description': 'Aide à la création de budgets personnels, suivi des dépenses, et conseils en gestion financière.' },
                                        { 'id': 'gestionAdminFiscalite', 'title': 'Aide à la déclaration fiscale', 'description': 'Assistance pour remplir les déclarations fiscales, optimiser les réductions fiscales et expliquer les démarches.' },
                                        { 'id': 'gestionAdminEnLigne', 'title': 'Assistance pour les démarches administratives', 'description': 'Aide pour effectuer leurs démarches administratives ou achats en ligne, comme créer des comptes sur des plateformes, remplir des formulaires, etc.' },
                                        { 'id': 'gestionAdminJuridique', 'title': 'Aide à la rédaction de courrier juridique ou officiel', 'description': 'Rédaction ou révision des lettres administratives ou juridiques (par exemple : contestation de contravention, demande de remboursement, etc.).' },
                                        { 'id': 'gestionAdminVoyages', 'title': 'Planification de voyages personnalisés', 'description': 'Aider à organiser des voyages sur mesure (itinéraires, activités, hébergement) en fonction des préférences.' }                          
                                    ] %}
                                {% elseif app.request.query.get('fragment') == 'pro' %}
                                    {% set services = [
                                        { title: 'Gestion de la paie', id: 'gestionAdmin1', description: 'Externalisation du traitement des salaires, déclarations sociales et gestion des avantages en nature.' },
                                        { title: 'Rédaction de documents officiels', id: 'gestionAdminCV', description: 'Création de contrats, lettres de motivation, lettres de résiliation et autres documents administratifs.' },
                                        { title: 'Gestion des factures', id: 'gestionAdminFinances', description: 'Création, envoi, suivi des paiements et relance des clients pour une gestion optimale de la trésorerie.' },
                                        { title: 'Gestion des agendas', id: 'gestionAdminFiscalite', description: 'Planification des rendez-vous, réunions et événements pour optimiser le temps de vos équipes.' },
                                        { title: 'Externalisation de la comptabilité', id: 'gestionAdminEnLigne', description: 'Suivi des écritures comptables, gestion des bilans et déclarations fiscales.' },
                                        { title: 'Assistance juridique', id: 'gestionAdminJuridique', description: 'Conseils sur des questions légales courantes, aide à la conformité juridique des documents et processus.' },
                                        { title: 'Gestion des fournisseurs', id: 'gestionAdminVoyages', description: 'Sélection et gestion des contrats avec les fournisseurs, négociation des tarifs et suivi des livraisons.' },
                                        { title: 'Suivi des dépenses', id: 'gestionAdminV', description: 'Élaboration de rapports de dépenses, suivi des budgets et recommandations pour une meilleure gestion financière.' },
                                        { title: 'Services de secrétariat', id: 'gestionAdminVo', description: 'Réception des appels, gestion du courrier, organisation des archives et prise de messages.' }
                                    ] %}
                                {% endif %}

                                {% for service in services %}
                                    <li class="list-group-flush">
                                        <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#{{ service.id }}" aria-expanded="false" aria-controls="{{ service.id }}">
                                            {{ service.title }}
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                        <div id="{{ service.id }}" class="collapse">
                                            <p class="m-2 text-muted" style="font-style: italic;">{{ service.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">{{titleNumerique}}</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-unstyled">
                                {% if app.request.query.get('fragment') == 'part' %}
                                    {% set services = [
                                        { "id": "gestionV1", 'title': 'Atelier de découverte numérique', 'content': 'Un atelier destiné à découvrir les bases de l\'informatique et à se familiariser avec les outils numériques essentiels. Nous abordons des notions pratiques comme la navigation sur Internet, l\'utilisation des outils de bureautique, et les bonnes pratiques pour sécuriser vos données.' },
                                        { "id": "gestionV2", 'title': 'Sensibilisation à la Cybersécurité', 'content': 'Un accompagnement pour mieux comprendre les enjeux de la sécurité en ligne : apprendre à protéger vos données personnelles, reconnaître les arnaques en ligne, et utiliser des outils simples pour sécuriser vos activités numériques.' },
                                        { "id": "gestionV3", 'title': 'Initiation aux outils bureautiques', 'content': 'Atelier pratique pour apprendre les bases des outils de bureautique comme Word, Excel et PowerPoint. Idéal pour gagner en autonomie et en productivité dans vos tâches quotidiennes.' },
                                        { "id": "gestionV4", 'title': 'Utilisation des Réseaux Sociaux', 'content': 'Un atelier pour découvrir les fonctionnalités de base des principaux réseaux sociaux comme Facebook, Instagram ou Snapchat, et apprendre à les utiliser en toute sécurité.' },
                                        { "id": "gestionV5", 'title': 'Initiation à la création de boite mail', 'content': 'Un accompagnement pratique pour créer sa propre boite mail.' },
                                        { "id": "gestionV6", 'title': 'Introduction à l\'Intelligence Artificielle', 'content': 'Un atelier pour comprendre les bases de l\'intelligence artificielle, ses applications dans la vie quotidienne, et ses impacts sur le monde professionnel.' },
                                        { "id": "gestionV7", 'title': 'Aide à l\'utilisation des Smartphones et Tablettes', 'content': 'Des conseils pratiques pour configurer vos appareils mobiles, sécuriser vos données, et découvrir des applications utiles pour gagner en efficacité au quotidien.' },
                                        { "id": "gestionV8", 'title': 'Découverte des outils de stockage en ligne', 'content': 'Un atelier pour explorer les fonctionnalités des services de stockage en ligne comme Google Drive, OneDrive ou Dropbox, et apprendre à gérer vos fichiers en toute simplicité.' }
                                    ] %}
                                {% elseif app.request.query.get('fragment') == 'pro' %}
                                    {% set services = [
                                        { "id": "gestionV1", "title": "Création de sites web", "content": "Conception, développement et maintenance de sites internet vitrine, e-commerce ou institutionnels." },
                                        { "id": "gestionV2", "title": "Développement d'applications mobiles", "content": "Création d’applications pour Android et iOS, en fonction des besoins spécifiques de l’entreprise." },
                                        { "id": "gestionV3", "title": "Optimisation SEO", "content": "Amélioration de la visibilité des sites internet sur les moteurs de recherche, en optimisant le contenu et la structure." },
                                        { "id": "gestionV4", "title": "Création de contenu digital", "content": "Rédaction de contenu web, blogs, articles, et textes marketing adaptés aux exigences du SEO." },
                                        { "id": "gestionV5", "title": "Audit de sécurité numérique", "content": "Évaluation de la sécurité des systèmes informatiques et mise en place de solutions pour protéger les données sensibles." },
                                        { "id": "gestionV6", "title": "Automatisation des processus", "content": "Développement de solutions d'automatisation des tâches récurrentes pour gagner du temps et améliorer la productivité." },
                                        { "id": "gestionV7", "title": "Développement de logiciels sur mesure", "content": "Conception et développement de logiciels spécifiques pour répondre aux besoins uniques de votre entreprise." },
                                        { "id": "gestionV8", "title": "Mise en place d'une stratégie de marketing numérique", "content": "Planification et exécution de campagnes publicitaires en ligne (Google Ads, Facebook Ads, etc.)." }
                                    ] %}
                                {% endif %}

                                {% for item in services %}
                                    <li class="list-group-flush">
                                        <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#gestionNum{{ loop.index }}" aria-expanded="false" aria-controls="gestionNum{{ loop.index }}">
                                            {{ item.title }}
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                        <div id="gestionNum{{ loop.index }}" class="collapse">
                                            <p class="m-2 text-muted" style="font-style: italic;">{{ item.content }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if app.request.query.get('fragment') == 'pro' %}
                <div class="col-12 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Services Commerciaux</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-unstyled">
                                {% set services = [
                                    { title: 'Prospection commerciale', description: 'Recherche et identification de nouveaux prospects, qualification des leads et génération d’opportunités.' },
                                    { title: 'Rédaction de propositions commerciales', description: 'Création de devis personnalisés, propositions et offres commerciales adaptées aux besoins des clients.' },
                                    { title: 'Gestion de la relation client (CRM)', description: 'Mise en place et gestion de systèmes CRM pour suivre les interactions clients et optimiser la fidélisation.' },
                                    { title: 'Support client', description: 'Mise en place d\'un service client pour répondre aux demandes, résoudre les problèmes et améliorer l’expérience client.' },
                                    { title: 'Stratégie de pricing', description: 'Analyse des prix, étude de la concurrence et mise en place d\'une stratégie tarifaire compétitive.' },
                                    { title: 'Campagnes marketing ciblées', description: 'Élaboration de campagnes de marketing ciblées pour atteindre efficacement des segments de marché spécifiques.' },
                                    { title: 'Animation des réseaux sociaux', description: 'Création de contenu, gestion de l\'engagement et suivi des performances sur les principales plateformes sociales.' },
                                    { title: 'Mise en place de partenariats', description: 'Identification de partenaires stratégiques et gestion de relations commerciales bénéfiques.' },
                                    { title: 'Gestion des retours clients', description: 'Collecte des retours clients, analyse des avis et mise en place d\'actions d\'amélioration continue.' }
                                ] %}

                                {% for service in services %}
                                    <li class="list-group-flush">
                                        <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#gestionNum{{ loop.index }}" aria-expanded="false" aria-controls="gestionNum{{ loop.index }}">
                                            {{ service.title }}
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                        <div id="gestionNum{{ loop.index }}" class="collapse">
                                            <p class="m-2 text-muted" style="font-style: italic;">{{ service.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <p class="p-3 text-center">Cette liste n'est pas exhastive, pour tout autre demande, n'hésitez pas à nous contacter!</p>
</section>