{% set fragmentValue = '' %}
{% set fragmentButtonValue = '' %}
{% set buttonValue = '' %}
{% if app.request.query.get('fragment') == 'part' %}
    {% set fragmentValue = 'part' %}
    {% set fragmentButtonValue = 'pro' %}
    {% set buttonValue = 'Vers les pros' %}
{% elseif app.request.query.get('fragment') == 'pro' %}
    {% set fragmentValue = 'pro' %}
    {% set fragmentButtonValue = 'part' %}
    {% set buttonValue = 'Vers les particuliers' %}
{% endif %}

<div class="background-tarifs">
    {% include 'partials/Page/_navBar.html.twig' %}

    <section class="hero d-flex justify-content-center flex-column flex-grow-1 position-relative">
        <div class="heroContent">
            <h1>Tarifs</h1>
            <p>Détails des tarifs</p>
        </div>
       <div>
            <button type="button" class="change-fragment-site btn btn-warning fs-5 border border-secondary" data-fragment={{fragmentValue}} data-subFragment="contact" >
                Contactez-nous
            </button>
        </div>
        <div class="position-absolute bottom-0 end-0 mb-3 me-3">
            <button type="button" class="change-fragment-site btn btn-primary fs-5" data-fragment={{fragmentValue}} data-subFragment="acceuil">{{buttonValue}}</button>
        </div>
    </section>
</div>

<h1 class="services-title">Nos tarifs</h1>
<h2 class="services-subtitle">Le meilleur pour tous nos clients</h2>
<section id="services" class="service-list d-flex flex-wrap justify-content-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center flex-wrap">
                {% set sections = [
                    { "title": "Devis", "items": ["Gratuit"] },
                    { "title": "Tarifs horaires", "items": ["35€/h en présentiel (+ frais de déplacement)", "30€/h en télésecrétariat"] },
                    { "title": "Tarifs à la carte", "items": ["Disponible sur demande"] },
                    { "title": "Forfaits", "items": ["Forfait hebdomadaire", "Forfait mensuel", "Tarifs dégressifs"] }
                ] %}

                {% for section in sections %}
                    <div class="service-item p-4 m-2 border rounded" style="background-color:white;">
                        <h3>{{ section.title }}</h3>
                        <ul class="list-unstyled">
                            {% for item in section.items %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

