
    <div class="flex-grow-1 p-4 d-flex justify-content-between flex-column h-100">

        <div>

            <div class="container card mb-4">
                <div class="container card-header d-flex justify-content-between align-items-center">
                    <h4>Accès rapide</h4>
                </div>
                <div class="card-body p-5 m-md-4 c-access d-flex justify-content-around flex-wrap">
                    {% set items = [
                        { id: 'btnEspacePersonnel', href: 'link-espacepersonnel', icon: 'fa-user-circle', title: 'Espace Personnel' },
                        { id: 'btnAgenda', href: 'link-Agenda', icon: 'fa-calendar-alt', title: 'Agenda', service: 'Agenda' },
                        { id: 'btnTelephone', href: 'link-Telephone', icon: 'fa-phone-alt', title: 'Gestion Téléphonique', service: 'Téléphonique' },
                        { id: 'btnAdministratif', href: 'link-Administratif', icon: 'fa-file-alt', title: 'Documents Administratifs', service: 'Administratif' },
                        { id: 'btnCommercial', href: 'link-Commercial', icon: 'fa-briefcase', title: 'Documents commerciaux', service: 'Commercial' },
                        { id: 'btnNumerique', href: 'link-Numerique', icon: 'fa-laptop-code', title: 'Documents numériques', service: 'Numérique' }
                    ] %}
                    {% for item in items %}
                        {% if item.service is not defined or item.service in services %}
                            <div class="d-flex flex-column align-items-center" style="position: relative; max-width: 130px;">
                                <button 
                                    type="button" 
                                    id="{{ item.id }}" 
                                    data-fragment="{{ item.href }}" 
                                    class="change-fragment btn d-flex flex-column flex-start align-items-center text-decoration-none"
                                    style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: none; z-index: 1; padding: 0;">
                                </button>

                                <!-- Affichage de l'icône en version mobile et desktop -->
                                <i class="fas {{ item.icon }} fa-2x d-sm-none text-black" style="pointer-events: none;"></i>
                                <i class="fas {{ item.icon }} fa-3x d-none d-sm-inline d-md-inline text-black" style="pointer-events: none;"></i>

                                <!-- Affichage du titre en version mobile et desktop -->
                                <h6 class="d-block d-md-none text-center text-black" style="pointer-events: none;">{{ item.title }}</h6>
                                <h5 class="d-none d-md-block text-center text-black" style="pointer-events: none;">{{ item.title }}</h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="container card mb-4">
                <div class="container card-header d-flex justify-content-between align-items-center">
                    <h4>Actualités</h4>
                </div>
                <div class="card-body p-0 m-md-4 c-access d-flex justify-content-around flex-wrap">
                    {% set actualite = [
                        { id: 'news1', href: '/actualites/article1', icon: 'fa-newspaper', title: 'Nouvelle fonctionnalité ajoutée',
                        description: 'Découvrez notre dernière mise à jour qui améliore l’expérience utilisateur.'},
                        { id: 'news2', href: '/actualites/article2', icon: 'fa-chart-line', title: 'Croissance de l’entreprise',
                        description: 'Un rapport montre une augmentation de 20% dans les ventes cette année.'},
                        { id: 'news3', href: '/actualites/article3', icon: 'fa-handshake', title: 'Nouveau partenariat signé',
                        description: 'Nous sommes fiers d’annoncer un partenariat stratégique avec XYZ Corp.'},
                    ] %}
                    {% for item in actualite %}
                        <a id="{{ item.id }}" href="{{ item.href }}" style="max-width:200px;" class="mb-4 btn card-link d-flex flex-column justify-content-start align-items-center text-center p-3">
                            <i class="fas {{ item.icon }} fa-3x text-primary mb-2"></i>
                            <h5 class="text-dark">{{ item.title }}</h5>
                            <p class="text-muted small">{{ item.description }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Section Accès Direct en dessous des autres éléments -->
        <div class="container card mb-4 bg-transparent border-0">
            <div class="card-body bg-transparent">
                <div class="card-header bg-transparent border-0">
                    <h5>Accès direct</h5>
                </div>
                {% set access_items = [
                    {path: 'home_index', icon: 'fa-tag', alt: 'Nos offres', text: 'Nos offres', color: 'white'},
                    {path: 'home_index', icon: 'fa-question-circle', alt: "J'ai une question", text: "J'ai une question", color: 'white'},
                    {path: 'home_index', icon: 'fa-user-shield', alt: 'Données personnelles', text: 'Données personnelles', color: 'white'},
                    {path: 'home_index', icon: 'fa-handshake', alt: 'Offres partenaires', text: 'Offres partenaires', color: 'white'},
                ] %}

                <div class="c-access d-flex justify-content-start flex-wrap">
                    {% for item in access_items %}
                        <a href="{{ path(item.path) }}" class="access">
                            <i class="fas {{ item.icon }} fa-3x mt-3 text-primary mb-2 text-{{ item.color }}"></i>
                            <p>{{ item.text }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

