<!-- Main Content -->
{% include 'partials/user/models/factureModel.html.twig' %}
<div class="flex-grow-1 p-4 d-flex flex-column">
    <div class="container card mb-4">
        <div class="container card-header d-flex justify-content-between align-items-center">
            <h4>Factures</h4>
        </div>
        <div class="card-body">
        {% if factures is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Statut</th>
                        <th>Commentaire</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in factures %}
                        <tr>
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.status }}</td>
                            <td>{{ facture.commentaire }}</td>
                            <td>{{ facture.is_active }}</td>
                            <td> 
                                <button 
                                    type="button" 
                                    class="facture btn text-primary text-decoration-underline" 
                                    data-toggle="modal" 
                                    data-target="#factureDetailsModal" 
                                    data-id="{{ facture.id }}" 
                                    data-montant="{{ facture.montant }}" 
                                    data-dateFacture="{{ facture.date_facture|date('d/m/Y') }}" 
                                    data-datePaiement="{{ facture.date_paiement|date('d/m/Y') }}" 
                                    data-status="{{ facture.status}}" 
                                    data-commentaire="{{ facture.commentaire }}" 
                                    data-isactive="{{ facture.is_active }}">
                                    Détails
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- Aucun document -->
            <div class="text-center">
                <div style="position: relative; display: inline-block;">
                    <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                    <div style="position: absolute; 
                            top: 0; left: 0; 
                            right: 0; bottom: 0; 
                            background-color: rgba(255, 255, 255, 0.7); 
                            z-index: 1;">
                    </div>
                </div>
                <h1 style="color: grey;">Aucune Facture</h1>
                <p class="text-muted">À cet endroit, vous pourrez consulter vos factures.</p>
            </div>
        {% endif %}
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#factureModal">Créer une nouvelle Facture</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour créer le facture-->
<div class="modal fade" id="factureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer une nouvelle Facture</h5>
      </div>
      <div class="modal-body">
        {{ form_start(forms['addFacture'], {'action': path('add_facture'), 'method': 'POST'}) }}
        
        <div class="form-group">
            {{ form_label(forms['addFacture'].montant, 'Montant de la facture', {'label_attr': {'class': 'col-form-label'}}) }}
            {{ form_widget(forms['addFacture'].montant, {'attr': {'class': 'form-control', 'placeholder': 'Montant de la facture'}}) }}
            {{ form_errors(forms['addFacture'].montant, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(forms['addFacture'].date_facture, 'Date de la facture', {'label_attr': {'class': 'col-form-label'}}) }}
            {{ form_widget(forms['addFacture'].date_facture, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez la date de la facture'}}) }}
            {{ form_errors(forms['addFacture'].date_facture, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(forms['addFacture'].date_paiement, 'Date de paiement', {'label_attr': {'class': 'col-form-label'}}) }}
            {{ form_widget(forms['addFacture'].date_paiement, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez la date de paiement'}}) }}
            {{ form_errors(forms['addFacture'].date_paiement, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(forms['addFacture'].status, 'Statut de la facture', {'label_attr': {'class': 'col-form-label'}}) }}
            {{ form_widget(forms['addFacture'].status, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(forms['addFacture'].status, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(forms['addFacture'].commentaire, 'Commentaire', {'label_attr': {'class': 'col-form-label'}}) }}
            {{ form_widget(forms['addFacture'].commentaire, {'attr': {'class': 'form-control', 'placeholder': 'Ajoutez un commentaire'}}) }}
            {{ form_errors(forms['addFacture'].commentaire, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="form-group form-check">
            {{ form_widget(forms['addFacture'].is_active, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(forms['addFacture'].is_active, 'Activer cette facture', {'label_attr': {'class': 'form-check-label'}}) }}
            {{ form_errors(forms['addFacture'].is_active, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <div class="modal-footer">
            {{ form_widget(forms['addFacture'].submit, {'attr': {'class': 'btn btn-primary'}}) }}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>

        {{ form_end(forms['addFacture']) }}
      </div>
    </div>
  </div>
</div>

<!-- Modal pour afficher les informations de la facture -->
<div class="modal fade" id="factureDetailsModal" tabindex="-1" role="dialog" aria-labelledby="factureDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 d-flex justify-content-between" id="factureDetailsModalLabel">
          <span>Détails de la facture n°<label id="factureId" class="border-0 bg-transparent text-black"></label></span>
          <span><label id="factureMontant2" class="border-0 bg-transparent text-black"></label> €</h5></span>
      </div>
      <div class="modal-body m-3 p-0">

        <!-- Tableau des articles de la facture -->
        <table class="table table-bordered" style="width: 100%; table-layout: fixed;">
            <thead>
                <tr>
                    <th class="text-start border-1" style="background-color: #f0f0f0; width: 50%;">Désignation</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0;">Qté</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0;">PU</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0;">HTVA</th>
                </tr>
            </thead>
            <tbody id="factureContentTable">
                <tr>
                    <td class="text-start border-1" style='width: 50%;'>à définir</td>
                    <td class="text-end border-1">à définir</td>
                    <td class="text-end border-1">à définir</td>
                    <td class="text-end border-1">à définir</td>
                </tr>
            </tbody>
        </table>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" id="btnPdfFacture">PDF</button>
          <button type="button" class="btn btn-primary" id="btnPrintFacture">Impression</button>
      </div>
    </div>
  </div>
</div>
