<!-- Main Content -->
{% include 'partials/user/models/factureModel.html.twig' %}
<div class="flex-grow-1 p-4 d-flex flex-column">
    <div class="container card mb-4">
        <div class="container card-header d-flex justify-content-between align-items-center">
            <h4>Factures</h4>
        </div>
        <div class="card-body">
        {% if factures is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Statut</th>
                        <th>Détails</th>
                        {# <th>Active</th> #}
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in factures %}
                        {# Les écrans normaux et grands écrans #}
                        <tr class="d-none d-sm-table-row">
                            <td>{{ facture.id }}</td>
                            <td>{{ facture.status }}</td>
                            <td>{{ facture.commentaire }}</td>
                            {# <td>{{ facture.is_active }}</td> #}
                            <td>{{ facture.montant | format_currency('EUR') }}</td>
                            <td> 
                                <button 
                                    type="button" 
                                    class="facture btn text-primary text-decoration-underline" 
                                    data-toggle="modal" 
                                    data-target="#factureDetailsModal" 
                                    data-id="{{ facture.id }}">
                                    Détails
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for facture in factures %}
                        {# Les petits écrans #}
                        <tr class="table-row d-sm-none">
                            <td class="facture text-break" data-toggle="modal" data-target="#factureDetailsModal" data-id="{{ facture.id }}">{{ facture.id }}</td>
                            <td class="facture text-break" data-toggle="modal" data-target="#factureDetailsModal" data-id="{{ facture.id }}">{{ facture.status }}</td>
                            <td class="facture text-break" data-toggle="modal" data-target="#factureDetailsModal" data-id="{{ facture.id }}">{{ facture.commentaire }}</td>
                            {# <td class="facture text-break" data-toggle="modal" data-target="#factureDetailsModal" data-id="{{ facture.id }}">{{ facture.is_active }}</td> #}
                            <td class="facture text-break" data-toggle="modal" data-target="#factureDetailsModal" data-id="{{ facture.id }}">{{ facture.montant | format_currency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- Aucun document -->
            <div class="text-center">
                <div style="position: relative; display: inline-block;">
                    <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                    <div style="position: absolute; 
                            top: 0; left: 0; 
                            right: 0; bottom: 0; 
                            background-color: rgba(255, 255, 255, 0.7); 
                            z-index: 1;">
                    </div>
                </div>
                <h1 style="color: grey;">Aucune Facture</h1>
                <p class="text-muted">À cet endroit, vous pourrez consulter vos factures.</p>
            </div>
        {% endif %}
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#factureModal">Créer une nouvelle Facture</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour créer le facture-->
{% include 'partials/user/Profile/_factureModalCreate.html.twig' %}

<!-- Modal pour afficher les informations de la facture -->
{% include 'partials/user/Profile/_factureModalInfos.html.twig' %}