

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
      <div class="container card mb-4">
          <div class="container card-header d-flex justify-content-between align-items-center">
              <h4>Répertoire</h4>
          </div>
          <div class="card-body">
              <!-- Barre de recherche -->
              <div class="mb-4">
                  <input 
                      type="text" 
                      id="searchBarRepertoire" 
                      class="form-control" 
                      placeholder="Rechercher un dossier...">
              </div>

              {% if dossiers is empty %}
                  <!-- Aucun numerique -->
                  <div class="text-center">
                      <div style="position: relative; display: inline-block;">
                          <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                          <div style="position: absolute; 
                                      top: 0; left: 0; 
                                      right: 0; bottom: 0; 
                                      background-color: rgba(255, 255, 255, 0.7); 
                                      z-index: 1;">
                          </div>
                      </div>
                      <h1 style="color: grey;">Aucun document numérique</h1>
                      <p class="text-muted">À cet endroit, vous pourrez consulter vos documents numériques.</p>
                  </div>
              {% else %}
                  <div id="dossierRepertoireList" class="d-flex flex-wrap">
                      {% for dossier in dossiers %}
                          <a id="dossier_{{ dossier.id }}" data-id="{{ dossier.id }}" 
                            style="max-width:100px;" 
                            class="dossier repertoire text-center d-flex flex-column flex-start text-decoration-none">
                              <i class="dossier fas fa-folder fa-3x text-center text-warning" data-id="{{ dossier.id }}"></i>
                              <p class='dossier text-black' data-id="{{ dossier.id }}">{{ dossier.name }}</p>
                          </a>
                      {% endfor %}
                  </div>
              {% endif %}
              
              <div class="d-flex justify-content-center mt-4">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dossierModal">
                      Créer un nouveau dossier Répertoire
                  </button>
              </div>
          </div>
      </div>
    </div>


<!-- Modal pour créer le dossier-->
{% include 'partials/user/Profile/_repertoireModalCreateDossier.html.twig' %}

<!-- Modale pour renommer le dossier -->
{% include 'partials/user/Profile/_repertoireModalRenameDossier.html.twig' %}

<!-- Menu Conextuel -->
<div id="contextMenu" class="dropdown-menu" class="d-none" style="position: absolute;">
    <a class="dropdown-item" href="javascript:void(0)" id="openDossier">Ouvrir le dossier</a>
    <a class="dropdown-item" href="javascript:void(0)" id="renameDossier">Renommer le dossier</a>
    <a class="dropdown-item" href="javascript:void(0)" id="deleteDossier">Supprimer le dossier</a>
</div>