 <div class="modal fade" id="contactsModal{{ repertoire.id }}" tabindex="-1" aria-labelledby="contactsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactsModalLabel">Contacts de {{ repertoire.nom }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for contact in repertoire.contacts %}
                        <li class="list-group-item">
                            <strong>{{ contact.nom }}</strong><br>
                            Téléphone : {{ contact.telephone }}<br>
                            Email : {{ contact.email }}<br>
                            Rôle : {{ contact.role }}<br>
                            Commentaire : {{ contact.commentaire }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>