<div class="container bg-white border rounded p-4">
    {# <div id="syncButtonsEvent" class="d-flex flex-wrap mb-2 d-none">
        <h2>Synchronisation depuis</h2>
        <div class='d-flex'>
            <button class="btn btn-success ms-3" id="syncButton" data-bs-toggle="modal" data-bs-target="#confirmSyncModal">
                Google
            </button>
            <button class="btn btn-success ms-3" id="syncButtonSymfony" data-bs-toggle="modal" data-bs-target="#confirmSyncModal">
                SecretairePro
            </button>  
        </div>
    </div>   #}
    
    <div class="d-flex justify-content-between align-items-center">
        <ul class="nav nav-tabs" id="myTabs" role="tablist" style="--bs-nav-tabs-border-color:none !important;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="calendar-tab" data-bs-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="true">Agenda</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="list-tab" data-bs-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Liste</a>
            </li>
        </ul>
       
        <!-- Modal de confirmation -->
        {# <div class="modal fade" id="confirmSyncModal" tabindex="-1" aria-labelledby="confirmSyncModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmSyncModalLabel">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir synchroniser les événements ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelSyncButton" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" id="confirmSyncButton">Confirmer</button>
                    </div>
                </div>
            </div>
        </div> #}

        <!-- Chargement... -->
        {# <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
            <span class="visually-hidden">Chargement...</span>
        </div> #}

        <!-- Modal de succès -->
        {# <div class="modal fade" id="successSyncModal" tabindex="-1" aria-labelledby="successSyncModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successSyncModalLabel">Succès</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        La synchronisation a été effectuée avec succès !
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="successModalOkButton" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div> #}
    </div>
    <div class="tab-content bg-white border rounded mb-5 p-4" id="myTabContent">
        <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
            <div class="container card mt-3 ">
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <!-- Modale pour afficher les détails de l'événement -->
        <div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventDetailsModalLabel">Détails de l'événement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="eventTitle"></p>
                        <p id="eventDate"></p>
                        <p id="eventDescription"></p>
                        <p id="eventLocation"></p>
                        <p id="eventEnd"></p>
                        <p id="eventGoogle"></p>
                        <p id="eventGoogleId"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
            <div class="container mt-3">
                <h5>Évènements à venir</h5>
                <ul id="eventList">
                    {% for event in events %}
                        {% if event.getGoogleCalendarEventId() is not empty %}
                            <li class="list-group-item" 
                                data-bs-toggle="modal" 
                                data-bs-target="#eventDetailsModal"
                                data-title="{{ event.title }}" 
                                data-start="{{ event.start|date('d/m/Y H:i') }}" 
                                data-end="{{ event.end|date('d/m/Y H:i') }}" 
                                data-description="{{ event.description }}" 
                                data-google="{{ event.getGoogleCalendarEventId()[0] }}" 
                                data-googleId="{{ event.getGoogleCalendarEventId()[1] }}" 
                                data-location="{{ event.location }}">
                                <strong>{{ event.title }}</strong><br>
                                <small>{{ event.start|date('d/m/Y H:i') }}</small><br>
                                <p>{{ event.description }}</p>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>Aucun événement Google à venir.</li>
                    {% endfor %}
</ul>
            </div>
        </div>
    </div>
    <button id='btnNewGoogleEvent' href="#link-newGoogleEvent" class="btn btn-outline-primary w-100 mt-2">Créer un évènement</button>
</div>
