<div style="min-height:100vh;" class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h4>Espace personnel</h4>
            </div>
            <div class="card-body">
                {% set buttons = [
                    {'id': 'btnFactures', 'icon': 'file-invoice', 'link': '#link-Factures', 'text': 'Factures'},
                    {'id': 'btnRepertoire', 'icon': 'folder', 'link': '#link-Repertoire', 'text': 'Répertoire'},
                    {'id': 'btnProfile', 'icon': 'user-circle', 'link': '#link-Profile', 'text': 'Informations'},
                    {'id': 'btnParametres', 'icon': 'cogs', 'link': '#link-parametres', 'text': 'Paramètres'}
                ] %}

                <div class="c-access d-flex justify-content-around flex-wrap">
                    {% for button in buttons %}
                        <a id="{{ button.id }}" href="{{ button.link }}" class="text-center d-flex flex-column flex-start text-decoration-none">
                            <i class="fas fa-{{ button.icon }} fa-2x d-sm-none text-black"></i>
                            <i class="fas fa-{{ button.icon }} fa-3x d-none d-sm-inline d-md-inline text-black"></i>
                            <h6 class="d-block d-md-none text-black">{{ button.text }}</h6>
                            <h5 class="d-none d-md-block text-black">{{ button.text }}</h5>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h4>Mes factures</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom de la facture</th>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td>{{ facture.name }}</td>
                                <td>{{ facture.id }}</td>
                                <td>{{ facture.status }}</td>
                                <td>{{ facture.info }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <a id='btnFactures' href="#link-Factures" class="btn btn-secondary btn-sm">Accéder</a>
                </div>
            </div>
        </div>

        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h4>Mon répertoire</h4>
            </div>
            <div class="card-body">
               {% set folders = [
                    { id: 'fournisseurFolder', link: '#link-fournisseurFolder', icon: 'fa-folder', label: 'Mes Fournisseurs' },
                    { id: 'clientFolder', link: '#link-clientFolder', icon: 'fa-folder', label: 'Mes Clients' },
                    { id: 'organismeFolder', link: '#link-organismeFolder', icon: 'fa-folder', label: 'Mes Organismes' },
                    { id: 'contactsFolder', link: '#link-contactsFolder', icon: 'fa-folder', label: 'Mes Contacts Personnels' }
                ] %}
                <div class="flex-grow-1 p-4 d-flex justify-content-center gap-3">
                    {% for folder in folders|slice(0,3) %}
                        <a id="{{ folder.id }}" href="{{ folder.link }}" style="max-width:100px;" class="text-center d-flex flex-column flex-start text-decoration-none">
                            <i class="fas {{ folder.icon }} fa-3x text-center text-warning"></i>
                            <p class='text-black'>{{ folder.label }}</p>
                        </a>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <a id='btnRepertoire' href="#link-Repertoire" class="btn btn-secondary btn-sm">Voir plus</a>
                </div>
            </div>
        </div>

    </div>
</div>

{# <div class="row g-4 text-center">
    <div class="col-12 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Mes factures</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom de la facture</th>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td>{{ facture.name }}</td>
                                <td>{{ facture.id }}</td>
                                <td>{{ facture.status }}</td>
                                <td>{{ facture.info }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a id='btnFactures' href="#link-Factures" class="btn btn-secondary btn-sm">Accéder</a>
            </div>
        </div>
    </div>
</div> #}
{# <div class="row g-4 text-center">
    <div class="col-md-12 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Mon répertoire</h6>
                <ul id="previewDossiers" class="p-0 mb-3 d-flex justify-content-center flex-wrap">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id='btnFournisseurFolder' href="#link-fournisseurFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Fournisseurs</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btnclientFolder" href="#link-clientFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Clients</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btncontactsFolder" href="#link-contactsFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Contact</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btnorganismeFolder" href="#link-organismeFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Organisme</a>
                    </li>
                </ul>
                <a id='btnRepertoire' href="#link-Repertoire" class="btn btn-secondary btn-sm">Accéder</a>
            </div>
        </div>
    </div>
</div> #}