<div class="background-secretariat">
    {% include 'partials/Page/Pro/_navBar.html.twig' %}
    <section class="hero d-flex justify-content-center flex-column flex-grow-1">
        <div class="heroContent">
            <h1>Services</h1>
            <p>Détails des services proposés</p>
        </div>
        <div>
            <a href="#link-contact-part">Contactez-nous</a>
        </div>
    </section>
</div>

<h1 class="services-title">Nos services</h1>
<h2 class="services-subtitle">Le meilleur pour tous nos clients</h2>
<section id="services" class="service-list d-flex flex-wrap justify-content-center">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center flex-wrap">
            <!-- Service: Gestion administrative -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Services Administratifs</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-unstyled">
                            {% set services = [
                                { title: 'Gestion de la paie', id: 'gestionAdmin1', description: 'Externalisation du traitement des salaires, déclarations sociales et gestion des avantages en nature.' },
                                { title: 'Rédaction de documents officiels', id: 'gestionAdminCV', description: 'Création de contrats, lettres de motivation, lettres de résiliation et autres documents administratifs.' },
                                { title: 'Gestion des factures', id: 'gestionAdminFinances', description: 'Création, envoi, suivi des paiements et relance des clients pour une gestion optimale de la trésorerie.' },
                                { title: 'Gestion des agendas', id: 'gestionAdminFiscalite', description: 'Planification des rendez-vous, réunions et événements pour optimiser le temps de vos équipes.' },
                                { title: 'Externalisation de la comptabilité', id: 'gestionAdminEnLigne', description: 'Suivi des écritures comptables, gestion des bilans et déclarations fiscales.' },
                                { title: 'Assistance juridique', id: 'gestionAdminJuridique', description: 'Conseils sur des questions légales courantes, aide à la conformité juridique des documents et processus.' },
                                { title: 'Gestion des fournisseurs', id: 'gestionAdminVoyages', description: 'Sélection et gestion des contrats avec les fournisseurs, négociation des tarifs et suivi des livraisons.' },
                                { title: 'Suivi des dépenses', id: 'gestionAdminV', description: 'Élaboration de rapports de dépenses, suivi des budgets et recommandations pour une meilleure gestion financière.' },
                                { title: 'Services de secrétariat', id: 'gestionAdminVo', description: 'Réception des appels, gestion du courrier, organisation des archives et prise de messages.' }
                            ] %}

                            {% for service in services %}
                                <li class="list-group-flush">
                                    <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#{{ service.id }}" aria-expanded="false" aria-controls="{{ service.id }}">
                                        {{ service.title }}
                                    </button>
                                    <div id="{{ service.id }}" class="collapse">
                                        <p class="m-2 text-muted" style="font-style: italic;">{{ service.description }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Services Commerciaux</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-unstyled">
                            {% set services = [
                                { title: 'Prospection commerciale', description: 'Recherche et identification de nouveaux prospects, qualification des leads et génération d’opportunités.' },
                                { title: 'Rédaction de propositions commerciales', description: 'Création de devis personnalisés, propositions et offres commerciales adaptées aux besoins des clients.' },
                                { title: 'Gestion de la relation client (CRM)', description: 'Mise en place et gestion de systèmes CRM pour suivre les interactions clients et optimiser la fidélisation.' },
                                { title: 'Support client', description: 'Mise en place d\'un service client pour répondre aux demandes, résoudre les problèmes et améliorer l’expérience client.' },
                                { title: 'Stratégie de pricing', description: 'Analyse des prix, étude de la concurrence et mise en place d\'une stratégie tarifaire compétitive.' },
                                { title: 'Campagnes marketing ciblées', description: 'Élaboration de campagnes de marketing ciblées pour atteindre efficacement des segments de marché spécifiques.' },
                                { title: 'Animation des réseaux sociaux', description: 'Création de contenu, gestion de l\'engagement et suivi des performances sur les principales plateformes sociales.' },
                                { title: 'Mise en place de partenariats', description: 'Identification de partenaires stratégiques et gestion de relations commerciales bénéfiques.' },
                                { title: 'Gestion des retours clients', description: 'Collecte des retours clients, analyse des avis et mise en place d\'actions d\'amélioration continue.' }
                            ] %}

                            {% for service in services %}
                                <li class="list-group-flush">
                                    <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#gestionNum{{ loop.index }}" aria-expanded="false" aria-controls="gestionNum{{ loop.index }}">
                                        {{ service.title }}
                                    </button>
                                    <div id="gestionNum{{ loop.index }}" class="collapse">
                                        <p class="m-2 text-muted" style="font-style: italic;">{{ service.description }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Services de Développement Numérique</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-unstyled">
                            {% set services = [
                                { "id": "gestionV1", "title": "Création de sites web", "description": "Conception, développement et maintenance de sites internet vitrine, e-commerce ou institutionnels." },
                                { "id": "gestionV2", "title": "Développement d'applications mobiles", "description": "Création d’applications pour Android et iOS, en fonction des besoins spécifiques de l’entreprise." },
                                { "id": "gestionV3", "title": "Optimisation SEO", "description": "Amélioration de la visibilité des sites internet sur les moteurs de recherche, en optimisant le contenu et la structure." },
                                { "id": "gestionV4", "title": "Création de contenu digital", "description": "Rédaction de contenu web, blogs, articles, et textes marketing adaptés aux exigences du SEO." },
                                { "id": "gestionV5", "title": "Audit de sécurité numérique", "description": "Évaluation de la sécurité des systèmes informatiques et mise en place de solutions pour protéger les données sensibles." },
                                { "id": "gestionV6", "title": "Automatisation des processus", "description": "Développement de solutions d'automatisation des tâches récurrentes pour gagner du temps et améliorer la productivité." },
                                { "id": "gestionV7", "title": "Développement de logiciels sur mesure", "description": "Conception et développement de logiciels spécifiques pour répondre aux besoins uniques de votre entreprise." },
                                { "id": "gestionV8", "title": "Mise en place d'une stratégie de marketing numérique", "description": "Planification et exécution de campagnes publicitaires en ligne (Google Ads, Facebook Ads, etc.)." }
                            ] %}

                            {% for service in services %}
                                <li class="list-group-flush">
                                    <button class="btn btn-link d-block w-100 text-left text-decoration-none text-dark d-flex justify-content-between" style="text-align: left;" data-bs-toggle="collapse" data-bs-target="#{{ service.id }}" aria-expanded="false" aria-controls="{{ service.id }}">
                                        {{ service.title }}
                                    </button>
                                    <div id="{{ service.id }}" class="collapse">
                                        <p class="m-2 text-muted" style="font-style: italic;">{{ service.description }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p class="d-flex justify-content-center">Cette liste n'est pas exhastive, pour tout autre demande, n'hésitez pas à nous contacter!</p>