<div class="container card bg-transparent border-0 mb-4">
    <div class="card-body bg-transparent">
        <div class="container card-header bg-transparent border-0">
            <h5>Accès direct</h5>
        </div>
        <div class="container c-access">
            <a href="{{ path('secretariat') }}" class="access">
                <img src="{{ asset('build/images/side1.png') }}" alt="Icone Documents" class="iconUser" />
                <p>Nos offres</p>
            </a>

            <a href="{{ path('contact') }}" class="access">
                <img src="{{ asset('build/images/side2.png') }}" alt="Icone Documents" class="iconUser" />
                <p>J'ai une question</p>
            </a>

            <a href="{{ path('user_documents') }}" class="access">
                <img src="{{ asset('build/images/side6.png') }}" alt="Icone Documents" class="iconUser" />
                <p>Données personnelles</p>
            </a>

            <a href="#" class="access">
                <img src="{{ asset('build/images/side6.png') }}" alt="Icone Documents" class="iconUser" />
                <p>Offres partenaires</p>
            </a>
        </div>
    </div>
</div>
