<div class="menu-container">
    <!-- Conteneur des icônes et textes -->
    <div class="menu-items d-flex flex-column">
        {% set menuItems = [
            { id: 'menuAcceuil', link: '#link-Acceuil', icon: 'fa-home', label: 'Accueil', color: 'white' },
            { id: 'menuAdministratif', link: '#link-Administratif', icon: 'fa-file-alt', label: 'Administratif', color: 'white' },
            { id: 'btnAgenda', link: '#link-Agenda', icon: 'fa-calendar-alt', label: 'Agenda', color: 'white' },
            { id: 'menuCommercial', link: '#link-Commercial', icon: 'fa-briefcase', label: 'Commercial', color: 'white' },
            { id: 'menuNumerique', link: '#link-Numerique', icon: 'fa-laptop-code', label: 'Numérique', color: 'white' },
            { id: 'menuTelephone', link: '#link-Telephone', icon: 'fa-phone-alt', label: 'Téléphone', color: 'white' }
        ] %}
        <div class="menu">
            {% for item in menuItems %}
                <div class="d-flex align-items-center mb-1">
                    <i class="text-{{ item.color }} fas {{ item.icon }} fa-2x text-center" style="width: 50px;"></i>
                    <a id="{{ item.id }}" href="{{ item.link }}" class="nav-link text-{{ item.color }}" style='max-width:123px;'>{{ item.label }}</a>
                </div>
            {% endfor %}
        </div>
        
        <button id="submenu" class="p-0 fs-6 text-white text-start bg-transparent border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#submenu3"
            aria-controls="submenu3"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="d-flex justify-content-start align-items-center">
                <i class="text-white fas fa-user-circle fa-2x text-center" style="width: 50px;"></i>
                {# <button aria-expanded="false" data-bs-toggle="collapse" href="#submenu3" class="nav-link text-white text-start d-none d-md-block" style='max-width:123px;'>Espace personnel</button> #}
                <div class="nav-link text-white text-start d-none d-md-block" style='max-width:123px;'>Espace personnel</div>
                <a href="{{ path('user') }}#link-espacepersonnel" class="nav-link text-white d-block d-md-none" style='max-width:123px;'>Espace personnel</a>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="submenu3">
            {% set submenuItems = [
                { id: 'menuProfile', link: '#link-Profile', icon: 'fa-user-circle', label: 'Profil', color: 'warning' },
                { id: 'menuFactures', link: '#link-Factures', icon: 'fa-file-invoice', label: 'Factures', color: 'warning' },
                { id: 'menuRepertoire', link: '#link-Repertoire', icon: 'fa-folder', label: 'Répertoire', color: 'warning' },
                { id: 'menuParametres', link: '#link-parametres', icon: 'fa-cogs', label: 'Paramètres', color: 'warning' }
            ] %}
            {% for submenu in submenuItems %}
                <div class="d-flex align-items-center mb-1">
                    <i class="fas {{ submenu.icon }} fa-2x text-center text-{{ submenu.color }}" style="width: 50px;"></i>
                    <a id="{{ submenu.id }}" href="{{ submenu.link }}" class="nav-link text-{{ submenu.color }}">{{ submenu.label }}</a>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>


