<div class="row mb-4">
    <div class="col-12">
        <!-- Informations Personnelles -->
        <div class="container card">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h5>Informations Personnelles</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless mb-4">
                    <thead>
                        <tr>
                            <th style="font-size: 1.2rem;">{{ app.user.email }}</th>
                            <th>Date de naissance</th>
                            <th>Profession</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>N° client {{ app.user.id }}</td>
                            <td>{{ app.user.email }}</td>
                            <td>{{ app.user.id }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Coordonnées -->
                <p class="text-danger border-top pt-3 ">Coordonnées</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="numero-voie">Numéro de voie</label>
                        <input id="numero-voie" class="form-control" placeholder="Numéro de voie">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rue">Rue</label>
                        <input id="rue" class="form-control" placeholder="Rue">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="complement">Complément d'adresse</label>
                        <input id="complement" class="form-control" placeholder="Complément d'adresse">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="code-postal">Code Postal</label>
                        <input id="code-postal" class="form-control" placeholder="Code Postal">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ville">Ville</label>
                        <input id="ville" class="form-control" placeholder="Ville">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="telephone">Téléphone</label>
                        <input id="telephone" class="form-control" placeholder="Téléphone">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="mobile">Mobile</label>
                        <input id="mobile" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="email">Adresse e-mail</label>
                        <input id="email" class="form-control" value="{{ app.user.email }}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vos Identifiants -->
        <div class="container card mt-5">
            <div class="card-body">
                <p class="text-danger">Vos identifiants</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="login">Login</label>
                        <input id="login" class="form-control" value="{{ app.user.email }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">Mot de passe</label>
                        <input id="password" type="password" class="form-control" value="{{ app.user.password }}" readonly>
                        <a href="#" class="text-danger mt-2 d-block">Modifier le mot de passe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
