<div style="min-height:100vh;" class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
        <!-- Informations Personnelles -->
            <h5>Mon répertoire </h5>
            <div class="card mb-4">
                <div class="card-body">
                    
                {# {{ form_start(addRepertoire, {'attr': {'class': 'form-horizontal'}}) }}
    
                    <div class="row mt-5">
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.nom_entreprise, 'Nom de l\'entreprise') }}
                            {{ form_widget(addRepertoire.nom_entreprise, {'attr': {'class': 'form-control', 'placeholder': 'Nom du fournisseur'}}) }}
                            {{ form_errors(addRepertoire.nom_entreprise) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.siret, 'SIRET') }}
                            {{ form_widget(addRepertoire.siret, {'attr': {'class': 'form-control', 'placeholder': 'SIRET'}}) }}
                            {{ form_errors(addRepertoire.siret) }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            {{ form_label(addRepertoire.nom, 'Nom du contact') }}
                            {{ form_widget(addRepertoire.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom du contact'}}) }}
                            {{ form_errors(addRepertoire.nom) }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form_label(addRepertoire.telephone, 'Téléphone') }}
                            {{ form_widget(addRepertoire.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                            {{ form_errors(addRepertoire.telephone) }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form_label(addRepertoire.mobile, 'Mobile') }}
                            {{ form_widget(addRepertoire.mobile, {'attr': {'class': 'form-control', 'placeholder': 'Mobile'}}) }}
                            {{ form_errors(addRepertoire.mobile) }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.adresse, 'Adresse') }}
                            {{ form_widget(addRepertoire.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
                            {{ form_errors(addRepertoire.adresse) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.code_postal, 'Code Postal') }}
                            {{ form_widget(addRepertoire.code_postal, {'attr': {'class': 'form-control', 'placeholder': 'Code Postal'}}) }}
                            {{ form_errors(addRepertoire.code_postal) }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.ville, 'Ville') }}
                            {{ form_widget(addRepertoire.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
                            {{ form_errors(addRepertoire.ville) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.pays, 'Pays') }}
                            {{ form_widget(addRepertoire.pays, {'attr': {'class': 'form-control', 'placeholder': 'Pays'}}) }}
                            {{ form_errors(addRepertoire.pays) }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_label(addRepertoire.email, 'Adresse e-mail') }}
                            {{ form_widget(addRepertoire.email, {'attr': {'class': 'form-control', 'readonly': true}}) }}
                            {{ form_errors(addRepertoire.email) }}
                        </div>
                    </div>
                    
                    <div class="form-group text-center mt-4">
                        {{ form_widget(addRepertoire.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    
                {{ form_end(addRepertoire) }} #}
                </div>
            </div>
        </div>
    </div>
</div>   
